* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}
#body {
  background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/3267/production/_126630921_apple-iphone-14-iphone-14-plus-hero-220907-geo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
.w3-border {
  border: 0 !important;
}
.w3-container,
.w3-panel {
  padding: 0;
}
.w3-black {
  opacity: 0.9;
  font-weight: bold;
}
.bg-light {
  background-color: black !important;
}
nav * {
  color: rgb(0, 255, 183) !important;
  font-weight: 600;
  font-size: 1.75rem;
}
.form-inline button {
  border-color: rgb(244, 67, 54);
}
.form-inline button:hover {
  background-color: rgb(244, 67, 54);
}
#product {
  font-size: 13px;
}
#Smart {
  color: wheat;
}
#user {
  color: wheat;
}
.table-dark {
  background-color: #273136 !important;
  opacity: 0.9;
}
.table-dark thead {
  color: rgb(54, 244, 222);
}
.navbar-nav {
  opacity: 0.8;
}
#delete_btn {
  background-color: transparent;
  color: rgb(17, 141, 169);
  border-width: 0;
  margin-right: 15px;
  font-size: 15px;
}
#edit_btn {
  background-color: transparent;
  color: rgba(248, 47, 255, 0.854);
  border-width: 0;
  font-size: 15px;
}
/* section.FinalFooter {
  background: red;
} */
.modal-footer {
  background: #000;
}
